/* .title {
    margin-left: 2rem;
    margin-top: 0.5rem;
}

.box {
    background-color: #242424;
    padding: 1rem;
    border-radius: 25px;
    margin: 0 0.5rem;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin: 0 0.5rem;
    margin-top: 2rem;
}

.newreminder {
    display: flex;
}

.newreminder h2 {
    margin-top: 0;
    margin-left: 1rem;
    color: #3170FF;
    font-weight: 600;
}

.actionsimage {
    width: 32px;
    height: 32px;
} */